@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/icomoon.eot?x9d6bi');
  src:  url('../fonts/icons/icomoon.eot?x9d6bi#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?x9d6bi') format('truetype'),
    url('../fonts/icons/icomoon.woff?x9d6bi') format('woff'),
    url('../fonts/icons/icomoon.svg?x9d6bi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
