html,
body {
    margin: 0;
    padding: 0;
    font-family: 'lato', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    display: block;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.team {
    padding: 110px 0 120px;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.team-title-holder {
    max-width: 270px;
    margin: 0 auto;
    position: relative;
}

.team-title {
    font-size: 34px;
    font-weight: 700;
    line-height: 1;
    color: #3c3c3c;
    text-align: center;
    margin: 0 0 65px;
    text-transform: uppercase;
}

.team-title:after {
    content: '';
    position: absolute;
    width: 45px;
    height: 5px;
    color: transparent;
    font-size: 0;
    background-color: #dddbdb;
    bottom: -20px;
    left: 115px;
}

.team-subtitle {
    font-size: 16px;
    font-weight: 300;
    color: #3c3c3c;
    text-align: center;
    max-width: 565px;
    margin: 0 auto 45px;
}

.team-flex-row {
    display: flex;
    justify-content: space-between;
}

.team-item-holder {
    width: 300px;
    height: 355px;
    padding: 15px;
}

.team-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.team-photo {
    position: absolute;
    width: 100%;
    max-width: 268px;
    max-height: 268px;
    top: 0;
    left: 0;
    z-index: 2;
}

.team-social {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    max-width: 268px;
    max-height: 268px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #18b5dc;
    opacity: 0;
    transition: all .3s linear;
}

.team-photo:hover .team-social {
    z-index: 3;
    opacity: 1;
}

.team-social li {
    width: 42px;
    height: 42px;
    margin-right: 4px;
}

.team-social a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    padding: 10px 0;
    text-align: center;
    background-color: #5ecbe7;
    transition: all .2s linear;
}

.team-social a:hover {
    background-color: #18b5dc;
}

.team-text {
    position: absolute;
    bottom: 0px;
}

.team-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 7px;
    color: #282528;
}

.team-prof {
    font-size: 13px;
    font-weight: 300;
    color: #646464;
}